:root {
    --primary-color: #267D7B;
    --secondary-color: #23395B;
    --accent1-color: #4E91DD;
    --accent2-color: #03524E;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Nunito Sans', sans-serif;

    --nav-background-color: var(--accent1-color);
    --nav-link-color: #eef;
    --nav-hover-link-color:  var(--accent1-color);
    --nav-hover-background-color:#eef;
}



.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #d8f2fd;
  }

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:#d8f2fd;
  }
